body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.logoNav{
    font-family: 'Lilita One', cursive;
    font-size: 30px;
}

.imgUserFinanc{
    width: 280px;
}

.titulo{
    font-family: 'Black Han Sans', cursive;
    font-size: 60px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
  }